{% extends 'master/index.html' %}

{% block title %}
<title>Feedback</title>
{% endblock title %}

{% block content %}
<div class="pagetitle">
    <h1>Feedback</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active">Feedback</li>
      </ol>
    </nav>
</div><!-- End Page Title -->
<br><br>
    {% if messages %}
    {% for message in messages %}
        <center><h5 style="color: rgb(17, 61, 17);">{{message}}</h5></center>
    {% endfor %}
    {% endif %}

<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="card-body pb-0">
                            <h5 class="card-title">Feedback and <span>| Reply</span></h5>
    
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                    <th scope="col">Sl.No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Feedback</th>
                                    <th scope="col">Reply</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for i in data %}
                                    <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{i.0}}</td>
                                    <td>{{i.6}}</td>
                                    <td>{{i.4}}</td>
                                
                                    {% if i.5 == '0' %}
                                    <td>
                                        <form action="/reply/" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{i.1}}" name="fd_id">
                                            <textarea class="form-control" style="height: 100px" name="rep" placeholder="Reply" required></textarea>
                                            <input type="submit" value="reply" class="btn btn-primary btn-sm">
                                        </form>
                                    </td>
                                    {% else %}
                                    <td>{{i.5}}</td>
                                    {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>   
  {% endblock content %}